.hero {
  width: 100vw;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  background-color: transparent;
  overflow: hidden; /* Prevent video overflow */
  border-bottom-left-radius: 120% 30%;
  border-bottom-right-radius: 120% 30%;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px; /* Height of the fade */
  background: linear-gradient(to bottom, transparent, #17042e);
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(223, 10, 127, 1),
    rgb(25, 2, 54, 0.2)
  );
  border-bottom-left-radius: 120% 10%;
  border-bottom-right-radius: 120% 10%;

  opacity: 0.14;
  z-index: 1;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 120% 30%;
  border-bottom-right-radius: 120% 30%;
  background: linear-gradient(to bottom, transparent, #17042e);

  opacity: 0.3;
  object-fit: cover; /* Ensures the video covers the entire section */
  z-index: -1; /* Puts the video behind the content */
}

.heroContent {
  margin-top: 200px;
  z-index: 2; /* Ensure it appears above the video */
}

.heroContent h1 {
  font-size: 7.4rem; /* Adjust size as needed */
  font-weight: bold;
}

.heroContent p {
  font-size: 1.5rem;
  padding-left: 9px;
}

.card {
  justify-items: center;
  display: grid;
}
/* Medium screens (e.g., tablets) */
@media (max-width: 1300px) {
  .hero {
    padding: 0 20px; /* Reduce padding for smaller screens */
  }

  .heroContent h1 {
    font-size: 3.5rem; /* Reduce font size for smaller screens */
  }

  .heroContent p {
    font-size: 1rem; /* Reduce font size for smaller screens */
  }
}

/* Small screens (e.g., mobile phones) */
@media (max-width: 768px) {
  .hero {
    padding: 0 10px;
    text-align: center;
  }

  .heroContent h1 {
    font-size: 1.5rem; /* Further reduce font size for mobile screens */
  }

  .heroContent p {
    font-size: 0.875rem; /* Further reduce font size for mobile screens */
  }

  .card {
    margin-top: 20%;
    background-color: yellow;
    flex-direction: row;
  }
}

.iconContainer {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 5px;
  justify-items: center;
  align-content: center;
}

.icon {
  width: 20px;
  color: #545252;
}

.card:hover {
  background: rgba(255, 255, 255, 0.1);
}
