.button {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  width: 295px;
  height: 97px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  cursor: pointer;
  color: black;
}

.button:hover {
  transform: scale(1.05);
}

.icon {
  font-size: 50px;
}

.text {
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .button {
    width: 250px;
    height: 60px;
  }
  .icon {
    font-size: 30px;
  }
}
